.flex {
    display: flex;

    &-col {
        flex-direction: column;
    }
}
.gap {
    &-20 {
        gap: 20px;
    }
}

.mt {
    &-auto {
        margin-top: auto;
    }
}
.mb {
    &-10 {
        margin-bottom: 10px;
    }
}

// * =====================================

.justify-content-between {
    justify-content: space-between;
}

.align-item-center {
    align-items: center;
}

.p-4 {
    padding: 2rem;
}

.align-self-center {
    align-self: center;
}

.text-black {
    color: $black;
}

.ml-auto {
    margin-left: auto;
}

.mr-1 {
    margin-right: 0.5rem;
}

.mx-2 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mb-4 {
    margin-bottom: 2rem;
}

.w-100 {
    width: 100%;
}
