@import './src/styles/mixin';
@import './src/styles/variable';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $fira-sans;
    min-width: 280px;
}

ul {
    list-style: none;
}

.flex {
    display: flex;

    &-col {
        flex-direction: column;
    }
}
.gap {
    &-20 {
        gap: 20px;
    }
}

.mt {
    &-auto {
        margin-top: auto;
    }
}
.mb {
    &-10 {
        margin-bottom: 10px;
    }
}

.w-100 {
    width: 100%;
}
